@media (max-width: 1200px) {
    .container {
        max-width: 1200px;
    }

    .header__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 50px
    }

    .header__menu {
        width: 400px;
    }

    .header__link:not(:last-child) {
        margin-right: 34px;
    }

    .header__link:nth-child(3) {
        margin-right: 36px;
    }

    .hero__container {
        margin: 0 auto;
        padding: 0;
        width: 95%;
    }

    .content__container {
        margin: 57px 0 33px 20px;
    }

    .content__categories {
        width: 630px;
    }

    .tags__hash:nth-child(3) {
        margin-right: 9px;
    }

    .tags__hash:nth-child(5) {
        margin: 0 10px 13px 0;
    }

    .tags__hash:nth-child(6) {
        margin: 0 11px 12px 0;
    }

    .tags__hash:nth-child(7) {
        padding: 13px 10.3px 12px 12px;
        margin: 0 0 25px -1px;
    }

    .content__post {
        justify-content: flex-start;
    }

    .content__box {
        margin-left: -20px;
        max-width: 400px;
    }

    .content__overlay {
        width: 223px;
    }

    .content__img-box {
        width: 270px;
    }

    .pagination {
        width: 105%;
        align-items: center;
    }

    .aside__container {
        margin: 69px 20px 0 0;
    }

    .subscribe {
        margin-top: 60px;
    }

    .subscribe__desc {
        padding: 0 156px;
    }
}

@media (max-width: 1024px) {
    .container {
        max-width: 1024px;
        margin: 0 15px;
    }

    .main {
        grid-template-rows: repeat(1, 0.2fr) repeat(1, 0.2fr) 0.1fr 0.1fr;
    }

    .title {
        font-size: 26px;
        line-height: 26px;
    }

    .header__logo {
        font-size: 34px;
        line-height: 34px;
    }

    .header__menu {
        width: 400px;
    }

    .header__link {
        font-size: 17px;
        line-height: 18px;
    }

    .hero {
        height: 560px;
    }

    .hero__container {
        width: 960px;
        margin: 0 auto;
        padding: 0;

    }

    .hero__box {
        height: 365px;
        width: 687px;
        padding: 50px 74px 50px;
    }

    .aside {
        grid-area: 2 / 1/ 3 / 4;
    }

    .content {
        grid-area: 3 / 1 / 4 / 4;
    }

    .aside__container {
        margin: 60px 22px 0;
        column-gap: 40px;

        display: flex;
        align-items: center;
        justify-content: space-evenly;
        position: relative;
    }

    .icons {
        position: absolute;
        bottom: 0;
        margin: 12px 0 -4px 0;
    }

    .tags {
        margin-bottom: 0;
        max-width: 400px;
    }

    .tags__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 30px;
    }

    .tags__hash {
        padding: 13px 15px 11px;
        margin: 0 9.3px 10px 0;
        font-size: 14px;
        line-height: 18px;
        color: #fff;
    }

    .tags__hash:nth-child(3) {
        margin-right: 95px;
    }

    .tags__link {
        margin-top: -9px;
    }

    .about {
        margin: 0;
    }

    .about__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 4px;
    }

    .about__img {
        margin: 26px -2px 16px -2px;
        width: 429px;
        height: 248px;
        object-fit: cover;
    }

    .about__desc {
        max-width: 429px;
        margin-left: -2px;
    }

    .tags__hash:nth-child(5) {
        margin: 0 132px 13px 0;
    }

    .tags-icons__box {
        margin-top: -90px;
        max-width: 350px;
        margin-left: 40px;
    }

    .icons {
        bottom: 14px;
    }

    .about {
        width: 520px;
    }

    .about__title {
        margin: 0;
    }

    .about__img {
        float: left;
        margin: 26px 20px 16px 0;
        width: 270px;
        height: 270px;
        object-fit: cover;
    }

    .about__desc {
        margin-top: 30px;
    }

    .content__container {
        margin: 57px 22px 33px;
        align-items: center;
    }

    .subscribe {
        grid-area: 4 / 1 / 5 /4;
    }

    .content__box {
        margin: 0;
        max-width: 504px;
    }

    .pagination {
        max-width: 1024px;
        justify-content: center;

    }

    .pagination__container {
        margin: 0;
        justify-content: center;

    }

    .subscribe__desc {
        padding: 0 171px;
    }

    .subscribe__input-name {
        width: 240px;
        height: 50px;
    }

    .subscribe__input-email {
        width: 360px;
        height: 50px;
    }

    .subscribe__btn {
        height: 50px;
        border: none;
        margin: 0;
    }

    .footer {
        position: relative;
    }

    .footer__icons {
        bottom: 125px;
    }

    .footer__title {
        font-size: 34px;
        margin: 23px 0 70px -1px;

    }


}

@media (max-width: 992px) {
    .container {
        max-width: 992px;
    }

    .title {
        font-size: 24px;
        line-height: 24px;
    }

    .header__container {
        justify-content: space-between;

    }

    .header__logo {
        font-size: 30px;
        line-height: 30px;
    }

    .header__menu {
        display: none;
        transition: .6s;
    }

    .header__link{
        font-size: 18px;
        line-height: 22px;
    }
    .header__link:not(:last-child) {
        margin: 0 0 15px;
    }

    .header__link:nth-child(3) {
        margin-right: 0;
    }

    .header__menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        top: 0;
        right: -114%;
        background-color: #014f38;
        height: 100vh;
        width: 30%;
        z-index: 1;
        transition: .6s;
    }
.header__menu.show{
    right: 0;
}

    .header__link {
        color: #fff;
    }

    .header__mobile-menu {
        display: block;
        z-index: 1;
        background: transparent;
        border: none;
    }

    .hero__container {
        max-width: 95%;
    }
    .hero__title{
        margin-left: 0;
        font-size: 26px;
        line-height: 28px;
    }

    .hero__desc {
        font-size: 16px;
        line-height: 21px;
    }

    .aside__container {
        margin: 40px auto 35px;
        max-width: 95%;

        justify-content: space-between;
    }

    .icons {
        bottom: 0;
    }

    .tags-icons__box {
        margin-top: -100px;
    }

    .tags__hash:nth-child(3) {
        margin-right: 21px;

    }

    .tags__hash:nth-child(5) {
        margin: 0 53px 13px 0;
    }

    .tags__title {
        margin-bottom: 25px;
    }

    .tags__link {
        margin-top: 20px;
    }

    .about__img {
        width: 240px;
        height: 240px;
        margin: 26px 20px -15px 0;
        float: none;
    }

    .about__desc {
        line-height: 18px;
    }

    .content__container {
        margin: 57px auto 33px;
        align-items: center;
        max-width: 95%;
    }

    .content__categories-item {

        line-height: 26px;
        letter-spacing: 1.3px;
    }

    .content__post {
        width: 740px;
    }

    .content__title {
        font-size: 22px;

    }

    .content__desc {
        line-height: 18px;
        letter-spacing: 1.3px;

    }

    .link {
        line-height: 18px;

    }

    .subscribe__desc {
        padding: 0 29px;
    }

    .subscribe__form {
        width: 670px;
    }

    .subscribe__input-name {
        width: 200px;
        height: 45px;
        line-height: 18px;

    }

    .subscribe__input-email {
        width: 325px;
        height: 45px;
        line-height: 18px;
    }

    .subscribe__btn {
        height: 45px;
        width: 110px;
    }

    .footer__title {
        margin: 23px 0 70px 0;
    }

    .social-media:last-child {
        margin-right: 0;
    }

    .footer__icons {
        bottom: 125px;
    }

    .footer__copyrights {
        line-height: 18px;
    }
}

@media (max-width: 768px) {
    .main {
        grid-template-rows: repeat(1, 0.2fr) repeat(1, 0.2fr) 0.1fr 0.1fr;
    }

    .container {
        max-width: 768px;
        padding: 0;
    }

    .title, .logo {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 24px;
        line-height: 24px;
        font-weight: 400;
        letter-spacing: 1.1px;
        text-transform: uppercase;
        color: #232323;
    }

    .desc {
        font-family: 'Mulish', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 1.5px;
        color: #232323;
    }

    .link {
        font-family: 'Mulish', sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 1.1px;
        text-decoration: underline;
        color: #232323;
    }

    .header {
        padding: 20px 0;
        height: 64px;
    }

    .header__container {
        margin: 0 20px;

    }

    .header__logo {
        margin-bottom: 0;
    }

    .header__menu {
        width: 354px;
        margin-bottom: 10px;

    }

    .header__menu.show {
        width: 40%;

    }

    .header__mobile-menu {
        border: none;
        background-color: transparent;
    }

    .header__link {
        font-size: 16px;
        line-height: 18px;
        padding: 0;
    }

    .hero {
        margin-top: 20px;
        height: 509px;
    }

    .hero__container {
        margin: 0 auto;
        width: 95%;
        background: url("../images/hero2.png") no-repeat center/cover;
        padding: 50px 40px;
    }

    .hero__box {
        height: 380px;
        width: 92%;
        padding: 50px 22px 50px;
        justify-content: space-between;
    }

    .hero__title {
        font-size: 26px;
        line-height: 28px;
        margin: 0;
    }

    .hero__desc {
        font-size: 17px;
        line-height: 20px;
        margin: 0 0 17px 0;
    }

    .hero__btn {
        margin: 0;
        width: 280px;
        height: 50px;
    }

    .aside__container {
        flex-direction: column;
        justify-content: center;
        max-width: 95%;
    }

    .tags-icons__box {
        margin: 5px auto 0;
        max-width: 95%;
    }

    .tags__title {
        text-align: center;
    }

    .tags__hash {
        color: #fff;
    }

    .tags__hash:nth-child(3) {
        margin-right: 10px;
    }

    .tags__hash:nth-child(4) {
        margin: 0 0 13px 0;
    }

    .tags__hash:nth-child(5) {
        margin: 0 10px 13px 9px;
    }

    .tags__link {
        text-align: center;
        text-decoration: none;
    }

    .tags__link:before {
        left: 0;
        right: 0;
        margin: auto;
    }

    .about {
        width: 95%;
        text-align: center;
        margin: 35px auto 0;
    }

    .about__img {
        margin: 15px 0 0;
        width: 265px;
        height: 265px;
    }

    .about__desc {
        margin-left: 0;
        max-width: 100%;
    }

    .icons {
        bottom: -60px;
        justify-content: center;
        left: 0;
        right: 0;
        margin: auto;
    }

    .content__container {
        margin: 77px auto 30px;
        max-width: 95%;
    }

    .content__categories {
        margin: 0;
        width: 88%;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px 20px;

    }

    .content__categories li:nth-child(3) {
        margin-left: 0;
    }

    .content__categories-item {
        font-size: 14px;
    }

    .content__post {
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin: 30px auto 240px;
    }

    .content__img-box {
        height: 255px;
        width: 255px;
        overflow: unset;
    }

    .content__img {
        margin-left: 0;
        width: 100%;
    }

    .content__overlay {
        opacity: 0;
        width: 255px;
        height: 255px;
    }

    .content__img-box:hover .content__overlay {
        opacity: 1;
    }

    .content__box {
        align-items: center;
        margin: 10px auto;
        max-width: 95%;
        text-align: center;
    }

    .content__title {
        line-height: 29px;
        max-width: 100%;
        font-weight: 700;
    }

    .pagination {
        width: 95%;
        max-width: 95%;
        margin: 0 auto;
        align-items: flex-end;
        right: 0;
        left: 0;
        bottom: 0;
    }

    .pagination__page {
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 1px;
    }

    .pagination__page:not(:first-child) {
        margin-left: 5px;
    }

    .pagination__arrow:first-child svg {
        margin-right: 5px;
    }

    .pagination__arrow:last-child svg {
        margin-left: 5px;
    }

    .pagination__container {
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            max-width: 95%;
        }

    .subscribe {
        height: 470px;
        margin-top: 30px;
        padding: 40px 0;
        margin-left: 0;
    }

    .subscribe {
        margin-top: 45px;
        grid-area: 4 / 1 / 5 /4;
        height: 380px;
    }

    .subscribe__container{
        max-width: 95%;
        margin: 0 auto;
    }
    .subscribe__title {
        font-weight: 700;
    }

    .subscribe__desc {
        padding: 0 14px;
        letter-spacing: 1.3px;
    }

    .subscribe__form {
        width: 95%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        ;
    }

    .subscribe__form label{
        width: 49%;
    }
    .subscribe__input-name,
    .subscribe__input-email {
        margin: 0 0 15px;
        width: 100%;
    }

    .subscribe__input-name::placeholder,
    .subscribe__input-email::placeholder {
        line-height: 18px;
        letter-spacing: 1.3px;
    }

    .subscribe__btn {
        width: 100%;
    }

    .footer{
        margin-top: -10px;
    }
    .footer__container {
        position: relative;
    }

    .footer__title {
        color: #FFF;
        margin: 23px 0 11px 0;
        font-size: 24px;
        line-height: 26px;
    }

    .footer__copyrights {
        margin-top: 60px;
        font-size: 15px;
        padding-top: 36px;
    }

    .footer__icons {
        bottom: -34px;
    }
}

@media (max-width: 480px) {
    .container {
        max-width: 320px;
    }

    .main {
        grid-template-rows: repeat(1, 0.1fr) repeat(1, 0.2fr) 0.1fr 0.1fr;
    }

    .header__container {
        margin: 0 auto;
        max-width: 90%
    }

    .header__logo {
        font-size: 21px;
        line-height: 21px;
    }

    .header__menu.show {
        width: 50%;
    }

    .hero__container {
        margin: 0 auto;
        max-width: 95%;
        height: 394px;
    }

    .hero__box {
        width: 280px;
        height: 300px;
        padding: 25px 15px;
    }

    .hero__title {
        font-size: 20px;
        line-height: 20px;
        margin: 0;
        letter-spacing: 1px;
        max-width: 280px;
    }

    .hero__desc {
        font-size: 16px;
        line-height: 18px;
        margin: 0 auto;
        letter-spacing: 1.3px;
    }

    .hero__btn {
        width: 200px;
        height: 40px;
        letter-spacing: 1px;
        font-size: 14px;
    }

    .aside {
        margin-top: -55px;
        margin-left: 0;
    }

    .aside__container {
        margin: 60px auto 0;
        flex-direction: column;
        max-width: 95%;
    }

    .tags {
        margin: 0 auto;
    }

    .tags-icons__box {
        margin: -80px auto 0;
    }

    .tags__title {
        margin-bottom: 20px;
        margin-top: 10px;
        text-align: center;
    }

    .tags__hash {
        padding: 10px;
        line-height: 16px;
        letter-spacing: 1.3px;
        color: #fff;
    }


    .tags__hash:nth-child(3),
    .tags__hash:nth-child(5) {
        margin-right: 12px;
        padding: 10px;
    }

    .tags__hash:nth-child(4) {
        padding: 10px;
    }

    .tags__hash:nth-child(6),
    .tags__hash:nth-child(7) {
        padding: 10px;
        margin: 0 12px 0 0;
    }

    .link {
        margin-top: 0;
        font-size: 16px;
        text-align: center;
        line-height: 18px;
        letter-spacing: 1px;

    }

    .tags__link {
        margin: 15px auto;
        text-decoration: none;
    }

    .tags__link:before {
        right: 0;
        margin: auto;
    }

    .about {
        width: 95%;
        margin: 75px auto 0;
        text-align: center;
    }

    .about__img {
        width: 255px;
        height: 255px;
        margin: 26px 0 -15px;
    }

    .about__title {
        font-size: 22px;
        line-height: 22px;
    }

    .about__desc {
        line-height: 18px;
        letter-spacing: 1.3px;
    }

    .icons {
        bottom: 270px;
        top: 0;
        left: 0;
        right: 0;
        justify-content: center;
        margin: auto;
    }

    .tags-icons__box {
        margin-top: -85px;
        max-width: 100%;
    }

    .content__container {
        margin: 55px auto 20px;
    }

    .content__categories {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 78%;
        margin-left: -5px;
        margin-top: -25px;

    }

    .content__post {
        flex-direction: column;
        margin: 37px auto 205px;
        width: 95%;
    }

    .content__img-box {
        height: 255px;
        width: 255px;
        overflow: unset;
    }

    .content__img {
        margin-left: 0;
        width: 100%;
    }

    .content__overlay {
        opacity: 0;
        width: 255px;
        height: 255px;
    }

    .content__img-box:hover .content__overlay {
        opacity: 1;
    }

    .content__box {
        align-items: center;
        margin: 10px auto;
        max-width: 95%;
        text-align: center;
    }

    .content__title {
        line-height: 22px;
        font-size: 22px;
        width: 111%;
    }

    .content__desc {
        line-height: 18px;
        letter-spacing: 1.3px;
        margin: 18px 0 17px;
    }

    .pagination {
        width: 95%;
        max-width: 95%;
        margin: 0 auto;
        align-items: flex-end;
        right: 0;
        left: 0;
        bottom: 0;

    }

    .pagination__page {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 1px;
    }

    .pagination__page:not(:first-child) {
        margin-left: 5px;
    }

    .pagination__arrow:first-child svg {
        margin-right: 2px;
    }

    .pagination__arrow:last-child svg {
        margin-left: 2px;
    }

    .subscribe {
        height: 470px;
        margin-top: 30px;
        padding: 40px 0;
    }

    .subscribe__container {
        margin: 0 auto;
    }

    .subscribe__title {
        font-size: 22px;
        line-height: 22px;
        letter-spacing: 1px;
    }

    .subscribe__desc {
        padding: 0 5px;
        line-height: 18px;
        letter-spacing: 1.3px;
    }

    .subscribe__form {
        width: 95%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .subscribe__form label {
        width: 100%;
    }

    .subscribe__input-name,
    .subscribe__input-email {
        margin: 0 0 15px;
        width: 100%;
    }

    .subscribe__input-name::placeholder,
    .subscribe__input-email::placeholder {
        line-height: 18px;
        letter-spacing: 1.3px;
    }

    .subscribe__btn {
        width: 100%;
    }

    .footer__container {
        margin: 0 auto;
    }

    .footer__title {
        font-size: 22px;
        line-height: 22px;
    }

    .footer__icons {
        top: 210px;
        bottom: -20px;
    }

    .footer__copyrights {
        margin-top: 60px;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 1.2px;

    }
}