@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700;800&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&family=Permanent+Marker&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    overflow-x: hidden;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

h1, h2, h3, h4 {
    font-family: 'Josefin Sans', sans-serif;
}

a {
    font-family: 'Mulish', sans-serif;
    text-decoration: none;
    color: inherit;
}

.main {
    background-color: #F5F5F5;
    display: inline-grid;
    grid-template-columns: 1fr repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr) repeat(1, 2.5fr) 0.4fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: minmax(1px, 1fr);
    grid-gap: 0 25px;
    place-items: stretch stretch;
    place-content: stretch stretch;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col-8 {
    width: 906px;
}


.container {
    max-width: 1442px;
    padding: 0 15px;
    margin: 0 auto;
}

.title, .logo {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: #232323;
}

.desc {
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1.5px;
    color: #232323;
}

.link {
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1.1px;
    text-decoration: underline;
    color: #232323;
}

.header {
    height: 77px;
    background-color: #fff;
    padding: 23px 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);

}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 123px 0 121px;
}

.header__logo {
    font-size: 38px;
    line-height: 38px;
    margin-bottom: -7px;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 444px;
}

.header__link {
    color: #818181;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 1.5px;
    padding: 5px 4px;
}

.header__link:hover {
    color: #3D8B74;
    font-weight: 800;
    padding: 4px 2px;
}

.hero {
    margin-top: 32px;
    height: 595px;
    grid-area: 1 / 1 / 2 / 4;
}

.hero__container {
    margin: 0 47px 0 48px;
    background: url("../images/hero.png") no-repeat center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1347px;
    height: 100%;
}

.hero__box {
    height: 365px;
    width: 723px;
    background: rgba(255, 255, 255, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 59px 87px 57px;
    text-align: center;
}

.hero__title {
    font-size: 28px;
    line-height: 28px;
    width: 406px;
    color: #232323;
    margin-left: 5px;
    margin-top: 1px;
}

.hero__desc {
    font-size: 18px;
    line-height: 23px;
    margin: 26px -2px 43px 0;

}

.hero__btn {
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    width: 292px;
    height: 55px;
    vertical-align: center;
    border: none;
    background: #3D8B74;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    margin-right: -3px;
    padding-top: 6px;
    padding-left: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1.1px;
}

.content {
    grid-area: 2 / 1 / 3 / 3;
}

.content__container {
    margin: 57px 123px 33px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.content__categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 659px;
}

.content__categories-item {
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 34px;
    letter-spacing: 1.5px;
    color: #232323;
    text-align: justify;
    transition: text-shadow .6s,
    color .6s,
    font-weight .6s;
}

.content__categories-item:hover {
    color: #3D8B74;
    text-shadow: 0 0 2px #3D8B74;
}

.content__post {
    width: 793px;
    height: 221px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 37px 0 20px;
}

.content__img-box {
    position: relative;
    height: 221px;
    width: 465.3px;
    overflow: hidden;
}

.content__img-box:hover .content__overlay {
    bottom: 0;
    left: 0;
}

.content__img {
    width: 224px;
    height: 100%;
    margin-left: -1px;
}

.content__overlay {
    transition: .6s;
    background-color: rgba(255, 255, 255, 0.8);
    height: 221px;
    width: 100%;
    padding: 28px 70px 18px 32px;
    position: absolute;
    bottom: -100%;
    left: -100%;
}

p.content__overlay-caption {
    max-width: 70px;
    margin-bottom: 26px;
}

.content__overlay-caption {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1.5px;
    color: #232323;
}

.content__box {
    height: 100%;
    margin-left: 48px;
    padding-top: 28px;
}

.content__title {
    font-weight: 700;
}

.content__desc {
    margin: 18px 0 20px;
}


.pagination {
    height: 54px;
    width: 953px;
    display: flex;
    align-items: flex-end;

}

.pagination__container {
    padding: 0;
    display: flex;
    align-items: center;
    margin-right: 0;
    justify-content: flex-end;
}

.pagination__page {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1.5px;
    color: #232323;
    padding: 3px 7.5px;
    transition: .6s;
}

.pagination__arrow:first-child svg {
    margin-right: 12px;
    margin-top: 3px;
}

.pagination__arrow:last-child svg {
    margin-left: 12px;
    margin-right: -4px;
    margin-top: 2px;
}

.pagination__page:not(:first-child) {
    margin-left: 21px;
}

.pagination__page:active {
    background-color: #3D8B74;
    font-weight: 800;
    color: #fff;
}

.pagination__page:nth-child(5):active,
.pagination__page:first-child:active,
.pagination__page:last-child:active {
    background-color: #3D8B74;
    font-weight: 400;
    color: #fff;
}

.aside {
    grid-area: 2 / 3 / 3 / 4;
    margin-left: -2px;
}

.aside__container {
    margin: 69px 0 0 37px;
}

.icons {
    display: flex;
    align-items: center;
    margin: 12px 0 58px 1px;
}

.social-media {
    color: #454545;
    font-size: 22px;
    margin-right: 27px;
}

.social-media:nth-child(1) {
    font-size: 20px;
    margin-right: 30.6px;
}

svg.social-media path {
    transition: .5s;
}

.social-media:hover {
    cursor: pointer;
}

.social-media:hover path {
    fill: #40A385;
}

.tags {
    margin-bottom: 66px;
}

.tags__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 28px;
}

.tags__hash {
    color: #FFFFFF;
    background-color: #3D8B74;
    padding: 13px 15px 12px;
    margin: 0 9.3px 13px 0;
    display: inline-block;
    min-width: 85.38px;
    text-align: center;
    transition: .6s;
}

.tags__hash:first-child {
    padding-left: 16px;
    padding-right: 15.95px;
}

.tags__hash:nth-child(3) {
    margin-right: 20px;
    padding: 13px 14px 12px 15px;
}

.tags__hash:nth-child(4) {
    padding: 13px 13px 12px 15px;
}

.tags__hash:nth-child(5) {
    padding: 13px 9.23px 12px 12px;
    margin: 0 100px 13px 0;
}

.tags__hash:nth-child(6) {
    padding: 13px 19.4px 12px 12px;
    margin: 0 10.3px 29px 0;
}

.tags__hash:nth-child(7) {
    padding: 13px 10.3px 12px 12px;
    margin: 0 0 0 -1px;
}

.tags__hash:hover {
    cursor: pointer;
    background-color: #40A385;
}

.tags__link {
    font-weight: 400;
    letter-spacing: 1.5px;
    display: block;
    margin-left: -1px;
    text-decoration: none;
    position: relative;
}

.tags__link::before {
    position: absolute;
    content: '';
    width: 80.36px;
    height: 1px;
    background-color: #454545;
    bottom: 1px;
    left: 0;
}

.about {
    margin-left: -0.4px;
}

.about__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}

.about__img {
    margin: 17px 0 18.2px;
    width: 277px;
    height: 276px;
}

.about__desc {
    max-width: 284px;
    margin-left: 1px;
}

.subscribe {
    grid-area: 3 / 1 / 4 / 4;
    margin-top: 93px;
    margin-left: 1px;

    height: 329px;
    background: #E2EEEA;
    text-align: center;
    padding: 67px 0 64px;
}

.subscribe__title {
    font-weight: 700;
}

.subscribe__desc {
    margin: 18px 0 41px;
    padding: 0 358px;
    line-height: 20.08px;
}

.subscribe__form {
    width: 792px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.subscribe__input-name {
    font-family: 'Mulish', sans-serif;
    color: #232323;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1.5px;
    border: 1px solid transparent;
    background: #fff;
    width: 245px;
    height: 55px;
    padding: 21px 0 22px 26px;
    margin-right: -8px;
}

.subscribe__input-name::placeholder,
.subscribe__input-email::placeholder {
    font-style: italic;
    color: #797979;

}

.subscribe__input-name:focus {
    outline: none;
    border: 1px solid #3D8B74;
}

.subscribe__input-email {
    font-family: 'Mulish', sans-serif;
    color: #232323;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1.5px;
    border: 1px solid transparent;
    background: #fff;
    width: 368px;
    height: 55px;
    padding: 21px 0 22px 26px;
    margin: 0 16px 0 22px;
}

.subscribe__input-email:focus {
    outline: none;
    border: 1px solid #3D8B74;
}

.subscribe__btn {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    display: inline-block;
    align-items: center;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 134px;
    height: 55px;
    background: #3D8B74;
    border-top: 4px solid #3D8B74;
    border-bottom: 2px solid transparent;
    border-left: 1px solid transparent;
    border-right: 2px solid transparent;
    transition: .6s;
    margin-top: -2px;
}

.subscribe__btn:hover {
    background: #40A385;
}

.footer {
    background: #232323;
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer__img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 45px;
    margin-left: -2px;
}

.footer__title {
    margin: 23px 0 10px -1px;
    font-size: 38px;
    line-height: 38px;
    color: #FFFFFF;
}

.footer__icons {
    color: #FFFFFF;
    margin: 12px 0 42px 27px;

}

.footer__icons .social-media path {
    fill: #fff;
}

.footer__icons .social-media:hover path {
    fill: #3D8B74;
}

.footer__copyrights {
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1.5px;
    color: #FFFFFF;
    height: 92px;
    background: #323232;
    padding-top: 34px;
}